$primary-color: #0b0c10;
$secondary-color: #1f2833;
$light-color: #c5c6c7;
$text-color: #66fcf1;
$darker-text: #45a29e;
$max-width: 1100px;

@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return $secondary-color;
  } @else {
    @return $light-color;
  }
}

@mixin setbackground($color) {
  background-color: $color;
  color: set-text-color($color);
}
